.voice-controls-wrap {
    margin-bottom: 132px;
    display: flex;
    gap: var(--gap-medium);
    flex-direction: column;
}

.voice-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 62px;
}

.voice-btn {
    padding: var(--padding-button);
    border: none;
    background: var(--primary-color);
    color: var(--text-light);
    cursor: pointer;
    transition: var(--transition);
    white-space: nowrap;
}

.voice-btn:hover:not(:disabled) {
    background: var(--primary-color);
    transform: var(--hover-transform);
}

.voice-btn:disabled {
    background: var(--disabled-color);
    cursor: not-allowed;
}

.voice-btn.stop {
    background: var(--bg-white);
    border: var(--border-default);
    color: var(--primary-color);
    border: 3px solid;
}

.voice-btn.stop:hover:not(:disabled) {
    background: var(--primary-color);
    color: var(--text-light);
}

.voice-toggle {
    display: flex;
    align-items: center;
    gap: var(--gap-small);
    color: var( --primary-color);
}

/* Адаптивность */
@media (max-width: 980px) {

    .voice-controls-wrap {
        margin-bottom: 60px;
    }
    .voice-controls {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}